#tom {
  width: 130px;
  border: 2px solid black;
  border-radius: 100px;
  margin: 5px 0 40px;
  transition: all 0.4s ease 0s;
}

#technologies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 40px 0 40px;
}

i {
  margin-bottom: 5px;
}

.technology {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
}

@media only screen and (max-width: 767px) {
  #technologies {
    margin: 0;
  }

  .technology {
    margin: 20px;
  }
}
