#About {
  height: 160px;
}

#tom {
  width: 130px;
  border: 2px solid black;
  border-radius: 100px;
  margin: 20px 0 10px 0;
}

#technologies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 40px 0 40px;
}

i {
  margin-bottom: 5px;
}

.technology {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
}

@media only screen and (max-width: 830px) {
  .technology {
    font-size: 15px;
  }
}

@media only screen and (max-width: 625px) {
  #technologies {
    margin: 0 20px 0 20px;
  }

  .technology {
    font-size: 12px;
    margin: 20px 10px 20px 10px;
  }
}

@media only screen and (max-width: 625px) {
  #About {
    height: 130px;
  }
}
