#Contact {
  height: 123px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 472px;
  width: 400px;
  margin: 20px auto 0 auto;
  padding: 15px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  background: lightpink;
  border: 2px solid black;
  box-shadow: 5px 5px gray;
}

input {
  border-radius: 50px;
  border: 2px black solid;
  padding: 5px 10px 5px 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

input:focus {
  outline: none;
}

textarea {
  height: 250px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 20px;
  border: 2px black solid;
  border-radius: 20px;
}

textarea:focus {
  outline: none;
}

button {
  align-self: center;
  width: 160px;
  background: white;
  border: 2px solid black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  padding: 14px 0 10px 0;
  font-style: italic;
}

button i {
  margin-right: 5px;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

::placeholder {
  font-style: italic;
}

@media only screen and (max-width: 850px) {
  #contact-form {
    width: 300px;
  }
}

@media only screen and (max-width: 500px) {
  #contact-form {
    width: 200px;
    height: 350px;
    box-shadow: 3px 3px gray;
  }

  input,
  textarea {
    font-size: 12px;
  }

  textarea {
    height: 170px;
  }

  button {
    width: 100px;
    font-size: 12px;
    padding: 8px 0 2px 0;
    font-style: italic;
  }
}

@media only screen and (max-width: 360px) {
  #contact-form {
    padding: 15px 10px 20px 10px;
  }

  textarea {
    height: 170px;
  }
}
