#Header-wrap {
  position: absolute;
}

#Header {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  width: 100%;
}

#top {
  font-family: "Josefin Sans", sans-serif;
  background-color: black;
  color: white;
  padding: 20px 0 0;
  align-items: center;
}

.wrapper {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 35px;
}

#content {
  display: flex;
  padding: 0 0 20px 0;
}

#title {
  display: flex;
  align-items: center;
}

#links {
  display: flex;
  font-size: 0.8rem;
  margin-left: auto;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.link:hover {
  transform: scale(1.2);
}

#navbar {
  padding: 15px 0 15px 0;
  font-size: 1.3rem;
  background: lightpink;
  color: black;
  font-weight: bold;
  border-bottom: 2px solid black;
}

#navbar .wrapper {
  display: flex;
  align-items: center;
}

.nav {
  margin-right: 2rem;
}

#beautify {
  margin-left: auto;
  display: flex;
  align-items: center;
}

#beautify label {
  font-size: 1.3rem;
  margin-right: 10px;
  font-style: italic;
}

input[type="checkbox"] {
  zoom: 1.5;
  margin: 0;
}

body.beautify #top {
  font-family: "Times New Roman", Times, serif;
  background-color: yellow;
  color: black;
}

body.beautify #navbar {
  background-color: #4f2517;
  color: white;
}

@media only screen and (max-width: 767px) {
  #navbar,
  #beautify label {
    font-size: 1.2rem;
  }
}
