.heading {
  text-align: center;
}

#note {
  font-size: 0.8rem;
  margin-bottom: 5px;
}

#project-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  margin: 10px;
  position: relative;
  border: 2px solid black;
  height: 186px;
  width: 350px;
}

#Projects article {
  text-align: center;
}

.description-hide {
  display: none;
}

.description-show {
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 186px;
  width: 350px;
  background: rgb(255, 192, 203, 0.9);
}

.description-beautify {
  top: 0;
  opacity: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 186px;
  width: 350px;
  background: yellow;
}

.project-title {
  font-family: "Josefin Sans", sans-serif;
  text-decoration: underline;
  font-size: 1.6rem;
}

.project-description {
  margin: 0 10px 0 10px;
  text-align: center;
}

.project-technologies {
  font-family: "Josefin Sans", sans-serif;
}

.project-links {
  display: flex;
  font-size: 0.9rem;
}

.project-links a {
  display: flex;
  font-weight: bold;
  border: 2px solid black;
  background: white;
  padding: 5px 16px 3px 16px;
  margin: 0 5px 0 5px;
}

.project-links i {
  margin-right: 5px;
}
