@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat&display=swap");

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-image: url("./images/circuitry.png");
}

.beautify-body {
  background-image: url("./images/computerloop.gif");
}

#root {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  margin-left: 20px;
  margin-right: 20px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  padding: 30px;
  margin: 0 20% 50px 20%;
  background: white;
  border: 2px solid black;
  font-size: 20px;
}

@media only screen and (max-width: 875px) {
  .box {
    margin: 0 15% 0 15%;
  }

  p {
    font-size: 18px;
  }

  .beautify-body {
    background-size: 200px 200px;
  }
}

@media only screen and (max-width: 700px) {
  p {
    font-size: 17px;
  }
}

@media only screen and (max-width: 625px) {
  .box {
    margin: 0 10% 50px 10%;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 540px) {
  p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .box {
    padding: 30px 10px 30px 10px;
  }
  p {
    margin-left: 10px;
    margin-right: 10px;
  }

  .beautify-body {
    background-size: 50px 50px;
  }
}

@media only screen and (max-width: 395px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 300px) {
  .box {
    margin: 0 5% 50px 5%;
  }

  p {
    font-size: 12px;
  }
}
