@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat&display=swap");

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background: url("./images/circuitry.png");
}

#root {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  margin-left: 20px;
  margin-right: 20px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  padding: 30px;
  margin: 0 20% 0 20%;
  background: white;
  border: 2px solid black;
  font-size: 20px;
}
