html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-image: url("./images/circuitry.png");
  font-size: 1.2rem;
}

body.beautify {
  background-image: url("./images/computerloop.gif");
}

.page-body {
  padding-top: 180px;
}

.transition {
  transition: 0.3s ease-in-out;
}

#root {
  height: 100%;
}

#root > div {
  padding-bottom: 5px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4 {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.4;
  padding: 0;
  margin: 0 0 1.6rem;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 2.2rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  padding: 0;
  margin: 0 0 1rem;
  line-height: 1.4;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  padding: 40px 50px;
  max-width: 800px;
  margin: 0 auto;
  background: white;
  border: 2px solid black;
  margin-bottom: 50px;
}

article {
  margin-bottom: 2.5em;
}

@media only screen and (max-width: 1025px) {
  .box {
    margin: 0 10% 50px 10%;
  }

  .beautify-body {
    background-size: 200px 200px;
  }
}

@media only screen and (min-width: 768px) {
  html,
  body {
    overscroll-behavior: none;
  }
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.4rem;
  }
}

/* Beautify styling */

body.beautify,
body.beautify h1,
body.beautify h2,
body.beautify h3,
body.beautify h4,
body.beautify a,
body.beautify #project-gallery p.project-technologies {
  font-family: "Times New Roman", Times, serif;
}

body.beautify .box {
  background: linear-gradient(
    90deg,
    rgba(204, 4, 255, 1) 0%,
    rgba(255, 250, 21, 1) 35%,
    rgba(255, 147, 0, 1) 75%
  );
}

/* Colour palette */

/*
#FFB6C1
#F05E81
#FFF3F6
#FFFFD0
*/
